html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body > div {
    width: 70%;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
body.theme-light {
    background-color: white;
    color: black;
}

body.theme-dark {
    background-color: black;
    color: white;
}
