.nav {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: inline-block;

  a {
    padding: 10px;
    margin-right: 5px;
    background-color: #8e8e8e;
    color: #fff;
    text-decoration: none;
    transition: background-color 200ms;

    &:hover {
      background-color: darken(#8e8e8e, 20%);
      transition: background-color 200ms;
    }
  }

  .active {
      background-color: darken(#8e8e8e, 20%);
  }
}
